@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    margin: auto;
}

.qr-code-component {
    background-color: hsl(0, 0%, 100%);
    width: 320px;
    height: 497px;
    margin: auto;
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.qr-code-image-container {
    width: 288px;
    height: 288px;
    overflow: hidden;
    border-radius: 10px;
}

.qr-code-image {
    width: 100%;
}

.qr-code-text-container {
    text-align: center;
    padding: 26px 26px 16px;
}

.qr-code-title {
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}

.qr-code-text {
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding-top: 16px;
}

.attribution {
    padding-bottom: 16px;
}